
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
} 

#root {
  font-family: Lato, Sans-Serif;
  box-sizing: border-box; 
  color: var(--text-body);
  background: var(--bg-body);
  overflow: auto;
} 

div {
  box-sizing: border-box;
} 